main {  
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

.form-container h2 {
  font-size: 2rem;
  margin: 20px 0;
  color: white;
}

.form-container form{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

form section {
  margin: 10px 0;
}

.input-box {
  display: flex;
  color: floralwhite;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  border: none;
  border: 2px solid floralwhite;
  border-radius: 40px;
  height: 2rem;
  color: floralwhite;
  background: transparent;
  height: 40px;
  width: 80%;
  padding-left: 20px;
}

.input-box textarea {
  border: none;
  border: 2px solid floralwhite;
  border-radius: 40px;
  height: 2rem;
  color: floralwhite;
  background: transparent;
  height: 40px;
  width: 80%;
  padding-left: 20px;
  resize: none;
}

#submit {
  width: 30%;
  margin-top: auto;
  padding: 0;
  background-color: chocolate;  
  border: none;
  cursor: pointer; 
}

#submit:hover {  
  background-color: rgb(133, 66, 18); 
}

#message {
  height: 220px;
  width: 80%;
  padding: 20px 20px 0;
}

#message::placeholder {
  vertical-align: top;
}