body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(black , rgb(0, 0, 127));
  font-family: sans-serif;
}

header {
  display: flex;
  border: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.header-img-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 1% 0 1%;
  margin-left: 1%;
}

.header-img-container img{
  height: 100%;
  border-radius: 50%;
}

nav {
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

nav a {
  color: floralwhite;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: rgb(133, 66, 18);   
}

#active {
  text-decoration: underline;
  font-size: 1.5rem;
  color: chocolate;
}

#active:hover {
  color: rgb(133, 66, 18); 
}

main {
  
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

.form-container h2 {
  font-size: 2rem;
  margin: 20px 0;
  color: white;
}

.form-container form{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

form section {
  margin: 10px 0;
}

.input-box {
  display: flex;
  color: floralwhite;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  border: none;
  border: 2px solid floralwhite;
  border-radius: 40px;
  height: 2rem;
  color: floralwhite;
  background: transparent;
  height: 40px;
  width: 80%;
  padding-left: 20px;
}

.input-box textarea {
  border: none;
  border: 2px solid floralwhite;
  border-radius: 40px;
  height: 2rem;
  color: floralwhite;
  background: transparent;
  height: 40px;
  width: 80%;
  padding-left: 20px;
  resize: none;
}

#submit {
  width: 30%;
  margin-top: auto;
  padding: 0;
  background-color: chocolate;  
  border: none;
  cursor: pointer; 
}

#submit:hover {  
  background-color: rgb(133, 66, 18); 
}

#message {
  height: 220px;
  width: 80%;
  padding: 20px 20px 0;
}

#message::placeholder {
  vertical-align: top;
}