main {  
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 550px;
  height: 520px;
  border-radius: 20px;
}

.form-container h2 {
  font-size: 2rem;
  margin: 20px 0;
  color: white;
}

.form-container form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

form section {
  margin: 10px 0;
}

.input-box {
  display: flex;
  color: floralwhite;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  border: 2px solid floralwhite;
  outline: none;
  border-radius: 40px;
  height: 2rem;
  color: floralwhite;
  background: transparent;
  height: 40px;
  width: 80%;
  padding-left: 20px;
}

.input-box input:focus {
  border: 3px solid floralwhite;
  box-shadow: 0 0 10px floralwhite;
  background-color: rgba(255, 255, 255, 0.05);
}

.input-box textarea {
  border: 2px solid floralwhite;
  outline: none;
  border-radius: 40px;
  height: 2rem;
  color: floralwhite;
  background: transparent;
  height: 40px;
  width: 80%;
  padding-left: 20px;
  resize: none;
}

.input-box textarea:focus {
  border: 3px solid floralwhite;
  box-shadow: 0 0 10px floralwhite;
  background-color: rgba(255, 255, 255, 0.05);
}

#submit {
  width: 30%;
  padding: 0;
  background-color: chocolate;  
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 0 10px rgba(255, 140, 0, 0.8);
}

#submit:hover {  
  background-color: rgb(133, 66, 18); 
  font-size: 1.3rem;
  box-shadow: 0 0 20px rgba(255, 156, 34, 0.8);
}

#message {
  font-family: sans-serif;
  height: 220px;
  width: 80%;
  padding: 20px 20px 0;
}

#message::placeholder {
  vertical-align: top;
}