body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(black , rgb(0, 0, 127));
  font-family: sans-serif;
}

header {
  display: flex;
  border: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.header-img-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 1% 0 1%;
  margin-left: 1%;
}

.header-img-container img{
  height: 100%;
  border-radius: 50%;
}

nav {
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

nav a {
  color: floralwhite;
  text-decoration: none;
  font-size: 1.2rem;
}

#active {
  text-decoration: underline;
  font-size: 1.5rem;
  color: chocolate;
}

main {
  margin: 0 5%;
  height: 100%;
  width: 90%;
  display: flex;
}


.form-container {
  width: 500px;
  height: 500px;
}

.form-container form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: red;
}